<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seeds.admin.mapper.SysGameVideosMapper">

    <select id="getPage" resultType="com.seeds.admin.dto.response.SysGameVideosResp" parameterType="com.seeds.admin.dto.request.SysGameVideosReq">
        select * from sys_game_videos
        <where>
            <if test="params.title != null and params.title != ''">
                and title LIKE CONCAT('%', #{params.title}, '%')
            </if>
            <if test="params.tag != null and params.tag != ''">
                and FIND_IN_SET(#{params.tag},video_tag)
            </if>
            <if test="params.onShelves != null">
                and on_shelves = ${params.onShelves}
            </if>
            <if test="params.isTop != null">
                and is_top = ${params.isTop}
            </if>
        </where>
        order by updated_at desc

    </select>
</mapper>
