<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seeds.admin.mapper.SysNftPicMapper">
    <update id="setProfessionByHero"></update>

    <select id="getListReceiptByMintAddress" resultType="com.seeds.game.entity.NftMarketOrderEntity">
        select list_receipt,mint_address
        from z_market_order
        where status = 1
        and mint_address in
        <foreach collection="tokenAddresses" item="tokenAddress" index="index" open="(" close=")" separator=",">
            #{tokenAddress}
        </foreach>
    </select>
    <select id="getAuctionIdByMintAddress" resultType="com.seeds.game.entity.NftMarketOrderEntity">
        select auction_id,mint_address
        from z_market_order
        where status = 1
        and mint_address in
        <foreach collection="tokenAddresses" item="tokenAddress" index="index" open="(" close=")" separator=",">
            #{tokenAddress}
        </foreach>
    </select>
</mapper>
