<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seeds.game.mapper.NftMarketOrderMapper">
    <select id="getSkinPage" resultType="com.seeds.game.dto.response.NftMarketPlaceSkinResp"
            parameterType="com.seeds.game.dto.request.NftMarketPlaceSkinPageReq">
        select
        t4.id as nft_id,
        t1.place_time,
        t1.token_id,
        t1.auction_id,
        t4.on_sale as state,
        t4.name,
        t5.hero   as heroName,
        t5.skin   as skinName,
        t2.image,
        t2.is_traded,
        t3.rarity,
        t3.victory,
        t3.lose,
        t3.max_streak,
        t3.capture,
        t3.killing_spree,
        t3.goblin_kill,
        t3.slaying,
        t3.goblin,
        t3.hero_type,
        t4.owner,
        t5.is_blind_box,

        (select ANY_VALUE(max(price)) from z_market_order where status = 2 and mint_address = t1.mint_address) as last_sale,
        (select IF(ANY_VALUE(max(price)) > 0, ANY_VALUE(max(price)), t1.price) from z_auction_house_biding where auction_id = t4.auction_id and (cancel_time is null or cancel_time = 0)) as price

        from z_market_order t1
        join z_equipment_nft t4 on t4.mint_address  = t1.mint_address
        left join ga_nft_public_backpack t2 on t4.id = t2.eq_nft_id
        left join ga_nft_attribute t3 on t4.id = t3.eq_nft_id
        left join sys_nft_pic t5 on t5.id = t2.nft_pic_id
        where t2.type = 3 AND t4.is_delete = 0 AND t1.status = 1
        <if test="params.name != null and params.name != ''">
            and (t4.name LIKE CONCAT('%', #{params.name}, '%') or t1.token_id = #{params.name})
        </if>
        <choose>
            <when test="params.auctionId !=null and params.auctionId != 0">
                and t1.auction_id &gt; 0
            </when>
            <when test="params.auctionId !=null and params.auctionId == 0">
                and t1.auction_id = 0
            </when>
        </choose>
        <if test="params.rarity != null">
            and t3.rarity = #{params.rarity}
            and t2.is_traded = 1
        </if>
        <if test="params.heroType != null">
            and t3.hero_type = #{params.heroType}
            and t2.is_traded = 1
        <!-- 盲盒且没有买卖过的nft才进行职业筛选 -->
        </if>
        <if test="params.minPrice != null">
            and (select IF(ANY_VALUE(max(price)) > 0, ANY_VALUE(max(price)), t1.price) from z_auction_house_biding where auction_id = t4.auction_id and (cancel_time is null or cancel_time = 0)) &gt;= #{params.minPrice}
        </if>
        <if test="params.maxPrice != null">
            and (select IF(ANY_VALUE(max(price)) > 0, ANY_VALUE(max(price)), t1.price) from z_auction_house_biding where auction_id = t4.auction_id and (cancel_time is null or cancel_time = 0)) &lt;= #{params.maxPrice}
        </if>
        <if test="params.sort != null and params.sort =='price'">
            order by price ${params.sortTypeStr}
        </if>
        <if test="params.sort != null and params.sort =='rarity'">
            order by t3.rarity ${params.sortTypeStr}
        </if>
        <if test="params.sort != null and params.sort =='placeTime'">
            order by t1.place_time ${params.sortTypeStr}
        </if>

    </select>
    <select id="getEquipPage" resultType="com.seeds.game.dto.response.NftMarketPlaceEqiupmentResp"
            parameterType="com.seeds.game.dto.request.NftMarketPlaceEquipPageReq">
        select
        t4.id as nft_id,
        t1.place_time,
        t1.token_id,
        t1.auction_id,
        t1.status as state,
        t4.name,
        t2.name as equip_name,
        t2.image,
        t3.durability,
        t3.durability_config as maxDurability,
        t3.grade,
        t3.rarity_attr_value,
        t3.base_attr_value,
        t3.special_attr_desc,
        t3.passive_attr_desc,
        t4.owner,

        (select ANY_VALUE(max(price)) from z_market_order where status = 2 and mint_address = t1.mint_address) as last_sale,
        (select IF(ANY_VALUE(max(price)) > 0, ANY_VALUE(max(price)), t1.price) from z_auction_house_biding where auction_id = t4.auction_id and (cancel_time is null or cancel_time = 0)) as price

        from z_market_order t1
        join z_equipment_nft t4 on t4.mint_address  = t1.mint_address
        left join ga_nft_public_backpack t2 on t4.id = t2.eq_nft_id
        left join ga_nft_attribute t3 on t4.id = t3.eq_nft_id
        where t2.type = 1 AND t4.is_delete = 0 AND t1.status = 1

        <if test="params.name != null and params.name != ''">
            and (t4.name LIKE CONCAT('%', #{params.name}, '%') or t1.token_id = #{params.name})
        </if>
        <choose>
            <when test="params.auctionId !=null and params.auctionId != 0">
                and t1.auction_id &gt; 0
            </when>
            <when test="params.auctionId !=null and params.auctionId == 0">
                and t1.auction_id = 0
            </when>
            <otherwise>
            </otherwise>
        </choose>
        <if test="params.grade != null">
            and t3.grade = #{params.grade}
        </if>
        <if test="params.minDurability != null">
            and t3.durability &gt;= #{params.minDurability}
        </if>
        <if test="params.maxDurability != null">
            and t3.durability &lt;= #{params.maxDurability}
        </if>
        <if test="params.minPrice != null">
            and (select IF(ANY_VALUE(max(price)) > 0, ANY_VALUE(max(price)), t1.price) from z_auction_house_biding where auction_id = t4.auction_id and (cancel_time is null or cancel_time = 0)) &gt;= #{params.minPrice}
        </if>
        <if test="params.maxPrice != null">
            and (select IF(ANY_VALUE(max(price)) > 0, ANY_VALUE(max(price)), t1.price) from z_auction_house_biding where auction_id = t4.auction_id and (cancel_time is null or cancel_time = 0)) &lt;= #{params.maxPrice}
        </if>
        <if test="params.sort != null and params.sort =='price'">
            order by price ${params.sortTypeStr}
        </if>
        <if test="params.sort != null and params.sort =='grade'">
            order by t3.grade ${params.sortTypeStr}
        </if>
        <if test="params.sort != null and params.sort =='durability'">
            order by t3.durability ${params.sortTypeStr}
        </if>
        <if test="params.sort != null and params.sort =='placeTime'">
            order by t1.place_time ${params.sortTypeStr}
        </if>

    </select>
    <select id="getPropsPage" resultType="com.seeds.game.dto.response.NftMarketPlacePropsResp"
            parameterType="com.seeds.game.dto.request.NftMarketPlacePropsPageReq">
        select
        t4.id as nft_id,
        t1.place_time,
        t1.token_id,
        t1.auction_id,
        t1.status as state,
        t4.name,
        t2.name as props_name,
        t2.image,
        t3.grade,
        t3.durability,
        t3.durability_config as maxDurability,
        t3.rarity_attr_value,
        t3.base_attr_value,
        t3.special_attr_desc,
        t3.passive_attr_desc,
        t4.owner,

        (select ANY_VALUE(max(price)) from z_market_order where status = 2 and mint_address = t1.mint_address) as last_sale,
        (select IF(ANY_VALUE(max(price)) > 0, ANY_VALUE(max(price)), t1.price) from z_auction_house_biding where auction_id = t4.auction_id and (cancel_time is null or cancel_time = 0)) as price

        from z_market_order t1
        join z_equipment_nft t4 on t4.mint_address  = t1.mint_address
        left join ga_nft_public_backpack t2 on t4.id = t2.eq_nft_id
        left join ga_nft_attribute t3 on t4.id = t3.eq_nft_id
        where t2.type = 2 AND t4.is_delete = 0 AND t1.status = 1

        <if test="params.name != null and params.name != ''">
            and (t4.name LIKE CONCAT('%', #{params.name}, '%') or t1.token_id = #{params.name})
        </if>
        <choose>
            <when test="params.auctionId !=null and params.auctionId != 0">
                and t1.auction_id &gt; 0
            </when>
            <when test="params.auctionId !=null and params.auctionId == 0">
                and t1.auction_id = 0
            </when>
            <otherwise>
            </otherwise>
        </choose>
        <if test="params.grade != null">
            and t3.grade = #{params.grade}
        </if>
        <if test="params.minDurability != null">
            and t3.durability &gt;= #{params.minDurability}
        </if>
        <if test="params.maxDurability != null">
            and t3.durability &lt;= #{params.maxDurability}
        </if>
        <if test="params.minPrice != null">
            and (select IF(ANY_VALUE(max(price)) > 0, ANY_VALUE(max(price)), t1.price) from z_auction_house_biding where auction_id = t4.auction_id and (cancel_time is null or cancel_time = 0)) &gt;= #{params.minPrice}
        </if>
        <if test="params.maxPrice != null">
            and (select IF(ANY_VALUE(max(price)) > 0, ANY_VALUE(max(price)), t1.price) from z_auction_house_biding where auction_id = t4.auction_id and (cancel_time is null or cancel_time = 0)) &lt;= #{params.maxPrice}
        </if>
        <if test="params.sort != null and params.sort =='price'">
            order by price ${params.sortTypeStr}
        </if>
        <if test="params.sort != null and params.sort =='grade'">
            order by t3.grade ${params.sortTypeStr}
        </if>
        <if test="params.sort != null and params.sort =='durability'">
            order by t3.durability ${params.sortTypeStr}
        </if>
        <if test="params.sort != null and params.sort =='placeTime'">
            order by t1.place_time ${params.sortTypeStr}
        </if>

    </select>

    <select id="equipPage" resultType="com.seeds.game.dto.response.GameRankEquipResp"
            parameterType="com.seeds.game.dto.request.GameRankNftPageReq">
        select
        max(o.fulfill_time) AS fulfillTime,
        ANY_VALUE(b.`name`) AS `name`,
        ANY_VALUE(b.image) AS image,
        ANY_VALUE(b.grade) AS grade,
        ANY_VALUE(b.views) AS views,
        CONCAT('#', ANY_VALUE(o.token_id)) AS number,
        ANY_VALUE(n.`owner`) AS publicAddress,
        ANY_VALUE(a.durability) AS durability,
        IF(SUBSTRING_INDEX(GROUP_CONCAT(o.auction_id order by o.fulfill_time desc),',',1) > 0, ANY_VALUE(s.end_price), ANY_VALUE(o.price)) AS price
        from z_market_order o
        join z_equipment_nft n on n.mint_address  = o.mint_address
        left join ga_nft_public_backpack b on b.eq_nft_id = n.id
        left join ga_nft_attribute a on a.eq_nft_id = n.id
        left join z_auction_house_setting s on s.id = o.auction_id
        where o.status = 2 and b.type = 1 and n.is_delete = 0 and b.item_type_id = #{params.item}
        GROUP BY o.mint_address
        <if test="params.sortField == 1">
            order by price ${params.sortTypeStr}
        </if>
        <if test="params.sortField == 2">
            order by views ${params.sortTypeStr}
        </if>
    </select>

    <select id="itemPage" resultType="com.seeds.game.dto.response.GameRankItemResp"
            parameterType="com.seeds.game.dto.request.GameRankNftPageReq">
        select
        max(o.fulfill_time) AS fulfillTime,
        ANY_VALUE(b.`name`) AS `name`,
        ANY_VALUE(b.image) AS image,
        ANY_VALUE(b.grade) AS grade,
        ANY_VALUE(b.views) AS views,
        CONCAT('#', ANY_VALUE(o.token_id)) AS number,
        ANY_VALUE(n.`owner`) AS publicAddress,
        ANY_VALUE(a.durability) AS durability,
        IF(SUBSTRING_INDEX(GROUP_CONCAT(o.auction_id order by o.fulfill_time desc),',',1) > 0, ANY_VALUE(s.end_price), ANY_VALUE(o.price)) AS price
        from z_market_order o
        join z_equipment_nft n on n.mint_address  = o.mint_address
        left join ga_nft_public_backpack b on b.eq_nft_id = n.id
        left join ga_nft_attribute a on a.eq_nft_id = n.id
        left join z_auction_house_setting s on s.id = o.auction_id
        where o.status = 2 and b.type = 2 and n.is_delete = 0 and b.item_type_id = #{params.item}
        GROUP BY o.mint_address
        <if test="params.sortField == 1">
            order by price ${params.sortTypeStr}
        </if>
        <if test="params.sortField == 2">
            order by views ${params.sortTypeStr}
        </if>
    </select>

    <select id="heroPage" resultType="com.seeds.game.dto.response.GameRankHeroResp"
            parameterType="com.seeds.game.dto.request.GameRankNftPageReq">
        select
        max(o.fulfill_time) AS fulfillTime,
        ANY_VALUE(b.`name`) AS `name`,
        ANY_VALUE(b.image) AS image,
        ANY_VALUE(b.views) AS views,
        CONCAT('#', ANY_VALUE(o.token_id)) AS number,
        ANY_VALUE(n.`owner`) AS publicAddress,
        IF(SUBSTRING_INDEX(GROUP_CONCAT(o.auction_id order by o.fulfill_time desc),',',1) > 0, ANY_VALUE(s.end_price), ANY_VALUE(o.price)) AS price,
        ANY_VALUE(a.victory) AS victory,
        ANY_VALUE(a.lose) AS lose,
        ANY_VALUE(a.max_streak) AS maxStreak,
        ANY_VALUE(a.capture) AS capture,
        ANY_VALUE(a.killing_spree) AS killingSpree,
        ANY_VALUE(a.goblin_kill) AS goblinKill,
        ANY_VALUE(a.slaying) AS slaying
        from z_market_order o
        join z_equipment_nft n on n.mint_address  = o.mint_address
        left join ga_nft_public_backpack b on b.eq_nft_id = n.id
        left join ga_nft_attribute a on a.eq_nft_id = n.id
        left join z_auction_house_setting s on s.id = o.auction_id
        where o.status = 2 and b.type = 3 and n.is_delete = 0 and b.name = #{params.item}
        GROUP BY o.mint_address
        <if test="params.sortField == 1">
            order by price ${params.sortTypeStr}
        </if>
        <if test="params.sortField == 2">
            order by views ${params.sortTypeStr}
        </if>
        <if test="params.sortField == 3">
            order by slaying ${params.sortTypeStr}
        </if>
        <if test="params.sortField == 4">
            order by goblinKill ${params.sortTypeStr}
        </if>
        <if test="params.sortField == 5">
            order by capture ${params.sortTypeStr}
        </if>
        <if test="params.sortField == 6">
            order by killingSpree ${params.sortTypeStr}
        </if>
        <if test="params.sortField == 7">
            order by maxStreak ${params.sortTypeStr}
        </if>
        <if test="params.sortField == 8">
            order by lose ${params.sortTypeStr}
        </if>
        <if test="params.sortField == 9">
            order by victory ${params.sortTypeStr}
        </if>
    </select>
</mapper>
