<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seeds.game.mapper.NftPublicBackpackMapper">

    <select id="selectTypeNum" resultType="com.seeds.game.dto.response.NftTypeNum">
        select distinct t1.type, ifnull(t2.num, 0) num
        from ga_nft_public_backpack t1
                 left join
             (select `type` as type, count(*) num
              from ga_nft_public_backpack
              where user_id = #{userId}
                and state <![CDATA[<>]]> 1
              group by type) t2 on t1.type = t2.type

    </select>


    <select id="getNftTypeList" resultType="com.seeds.game.dto.response.NftType">

        select t1.item_type_id, t2.name, t2.image
        from (select item_type_id, min(grade) grade, min(id) id
              from ga_nft_public_backpack
              where user_id = #{userId}
                and `type` = #{type}
              group by item_type_id) t1
                 left join ga_nft_public_backpack t2
                           on t1.id = t2.id

    </select>
    <select id="getPageForWeb" resultType="com.seeds.game.dto.response.NftPublicBackpackWebResp"
            parameterType="com.seeds.game.dto.request.internal.NftBackpackWebPageReq">

        select
        t1.name,
        t1.grade,
        t1.image,
        t1.token_id,
        IF(t3.price is null, t1.proposed_price, t3.price) AS price,
        t1.state,
        t1.auto_id,
        t1.eq_nft_id,
        t3.place_time as listTime,
        t1.server_role_id,
        t2.durability,
        t2.durability_config,
        t2.base_attr_value as baseAttr,
        t2.rarity_attr_value as rarityAttr,
        t2.special_attr_desc,
        t2.passive_attr_desc
        from ga_nft_public_backpack t1
        left join ga_nft_attribute t2 on t1.eq_nft_id = t2.eq_nft_id
        left join (
            select if(
                n.auction_id > 0 and (select count(*) from z_auction_house_biding z where z.auction_id = n.auction_id and (z.cancel_time is null or z.cancel_time = 0)> 0
                    ), (select max(m.price) from z_auction_house_biding m where m.auction_id = n.auction_id and (m.cancel_time is null or m.cancel_time = 0)), n.price) price,n.place_time,n.mint_address from z_market_order n where n.status = 1 or n.status = 7) t3
        on t1.token_address = t3.mint_address
        where t1.user_id = #{userId} and t1.state <![CDATA[<>]]> 1
        <if test="state != null">
            and t1.state = #{state}
        </if>
        <if test="type != null">
            and t1.type = #{type}
        </if>
        <if test="itemTypeId != null">
            and t1.item_type_id = #{itemTypeId}
        </if>
        <if test="serverRoleId != null">
            and t1.server_role_id = #{serverRoleId}
            and t1.state = 3
        </if>
        <if test="sort != null and sort =='price'">
            order by price ${sortTypeStr}
        </if>
        <if test="sort != null and sort =='grade'">
            order by t1.grade ${sortTypeStr}
        </if>
        <if test="sort != null and sort =='durability'">
            order by t2.durability ${sortTypeStr}
        </if>
        <if test="sort != null and sort =='rarity'">
            order by t2.rarity ${sortTypeStr}
        </if>
        <if test="sort != null and sort =='listTime'">
            order by t3.place_time ${sortTypeStr}
        </if>
    </select>

    <select id="getSkinNftTypeList" resultType="com.seeds.game.dto.response.SkinNftTypeResp">
        select distinct t1.profession, t1.skin as skinName
        from sys_nft_pic t1
        left join ga_nft_public_backpack t2 on t1.id = t2.nft_pic_id
        where t2.user_id = #{userId} and t2.state <![CDATA[<>]]> 1
        <if test="profession != null and profession != ''">
            and t1.profession = #{profession}
        </if>
    </select>
    <select id="getSkinPageForWeb" resultType="com.seeds.game.dto.response.NftPublicBackpackSkinWebResp">
        select
        t1.name,
        t5.hero as heroName,
        t1.image,
        t1.image_sha,
        t1.token_id,
        IF(t3.price is null, t1.proposed_price, t3.price) AS price,
        t1.state,
        t1.eq_nft_id,
        t3.place_time as listTime,
        t1.server_role_id,
        t2.victory,
        t2.rarity,
        t2.lose,
        t2.max_streak,
        t2.capture,
        t2.killing_spree,
        t2.goblin_kill,
        t2.slaying,
        t2.goblin
        from ga_nft_public_backpack t1
        left join ga_nft_attribute t2 on t1.eq_nft_id = t2.eq_nft_id
        left join sys_nft_pic t5 on t1.nft_pic_id = t5.id
        left join (
        select if(
        n.auction_id > 0 and (select count(*) from z_auction_house_biding z where z.auction_id = n.auction_id and (z.cancel_time is null or z.cancel_time = 0)> 0
        ), (select max(m.price) from z_auction_house_biding m where m.auction_id = n.auction_id and (m.cancel_time is null or m.cancel_time = 0)), n.price) price,n.place_time,n.mint_address from z_market_order n where n.status = 1 or n.status = 7) t3
        on t1.token_address = t3.mint_address
        where t1.type =3 and t1.user_id = #{userId} and t1.state <![CDATA[<>]]> 1
        <if test="skin != null and skin!='' ">
            and t1.name = #{skin}
        </if>
        <if test="serverRoleId != null">
            and t1.server_role_id = #{serverRoleId}
            and t1.state = 3
        </if>
        <if test="state != null">
            and t1.state = #{state}
        </if>
        <if test="heroType != null">
            and t2.hero_type = #{heroType}
        </if>
        <if test="sort != null and sort =='price'">
            order by price ${sortTypeStr}
        </if>

        <if test="sort != null and sort =='rarity'">
            order by t2.rarity ${sortTypeStr}
        </if>
        <if test="sort != null and sort =='listTime'">
            order by t3.place_time ${sortTypeStr}
        </if>
    </select>
    <select id="getHeroAndSkin" resultType="com.seeds.admin.entity.SysNftPicEntity">
        select skin, hero
        from sys_nft_pic
        where id = #{nftPicId}
    </select>
</mapper>
