<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seeds.account.mapper.ActionControlMapper">
    <resultMap id="BaseResultMap" type="com.seeds.account.model.ActionControl">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
        <result column="version" jdbcType="BIGINT" property="version"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="key" jdbcType="VARCHAR" property="key"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="value" jdbcType="VARCHAR" property="value"/>
        <result column="comments" jdbcType="VARCHAR" property="comments"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
    </resultMap>

    <insert id="insert" parameterType="com.seeds.account.model.ActionControl" useGeneratedKeys="true" keyProperty="id">
        insert into ac_action_control (id, create_time, update_time, version,
                                      `type`, `key`, `name`, `value`, comments,
                                      status)
        values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, #{version,jdbcType=BIGINT},
                #{type,jdbcType=VARCHAR}, #{key,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, #{comments,jdbcType=VARCHAR},
                #{status,jdbcType=TINYINT})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.seeds.account.model.ActionControl">
        update ac_action_control
        set create_time  = #{createTime,jdbcType=BIGINT},
            update_time  = #{updateTime,jdbcType=BIGINT},
            version      = #{version,jdbcType=BIGINT},
            `type`       = #{type,jdbcType=VARCHAR},
            `key`        = #{key,jdbcType=VARCHAR},
            `name`       = #{name,jdbcType=TINYINT},
            `value`      = #{value,jdbcType=TINYINT},
            comments     = #{comments,jdbcType=VARCHAR},
            status       = #{status,jdbcType=TINYINT}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from ac_action_control
        order by id
    </select>

    <select id="getByTypeAndKey" resultMap="BaseResultMap">
        select * from ac_action_control
        where `type`  = #{type,jdbcType=TINYINT}
          and `key`   = #{key,jdbcType=VARCHAR}
    </select>
</mapper>
