<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seeds.account.mapper.SystemConfigMapper">

    <insert id="insert" parameterType="com.seeds.account.model.SystemConfig" useGeneratedKeys="true" keyProperty="id">
        insert into ac_system_config (id, create_time, update_time, version,
                                     type, key, name, value, comments,
                                     status)
        values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, #{version,jdbcType=BIGINT},
                #{type,jdbcType=VARCHAR}, #{key,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, #{comments,jdbcType=TINYINT},
                #{status,jdbcType=TINYINT})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.seeds.account.model.SystemConfig">
        update ac_system_config
        set create_time  = #{createTime,jdbcType=BIGINT},
            update_time  = #{updateTime,jdbcType=BIGINT},
            version      = #{version,jdbcType=BIGINT},
            type         = #{type,jdbcType=VARCHAR},
            key          = #{key,jdbcType=VARCHAR},
            name         = #{name,jdbcType=TINYINT},
            value        = #{value,jdbcType=TINYINT},
            comments     = #{comments,jdbcType=VARCHAR},
            status       = #{status,jdbcType=TINYINT}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectAll" resultType="com.seeds.account.model.SystemConfig">
        select
            *
        from ac_system_config
        where `status` = 1
        order by id
    </select>

    <select id="getByTypeAndKey" resultType="com.seeds.account.model.SystemConfig">
        select
               `key`,create_time,update_time,version,name,type,`value`,comments,status,id from ac_system_config
        where `type`  = #{type}
          and `key`   = #{key}
    </select>
</mapper>
