<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seeds.account.mapper.WithdrawWhitelistMapper">

    <resultMap id="BaseResultMap" type="com.seeds.account.model.WithdrawWhitelist">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
        <result column="version" jdbcType="BIGINT" property="version"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="chain" jdbcType="VARCHAR" property="chain"/>
        <result column="currency" jdbcType="VARCHAR" property="currency"/>
        <result column="max_amount" jdbcType="DECIMAL" property="maxAmount"/>
        <result column="intraday_amount" jdbcType="DECIMAL" property="intradayAmount"/>
        <result column="auto_amount" jdbcType="DECIMAL" property="autoAmount"/>
        <result column="comments" jdbcType="VARCHAR" property="comments"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
    </resultMap>

    <update id="updateByPrimaryKey" parameterType="com.seeds.account.model.WithdrawWhitelist">
        update ac_withdraw_whitelist
        set create_time     = #{createTime,jdbcType=BIGINT},
            update_time     = #{updateTime,jdbcType=BIGINT},
            version         = #{version,jdbcType=BIGINT},
            user_id         = #{userId,jdbcType=BIGINT},
            chain           = #{chain,jdbcType=VARCHAR},
            currency        = #{currency,jdbcType=VARCHAR},
            max_amount      = #{maxAmount,jdbcType=DECIMAL},
            intraday_amount = #{intradayAmount,jdbcType=DECIMAL},
            auto_amount     = #{autoAmount,jdbcType=DECIMAL},
            comments        = #{comments,jdbcType=VARCHAR},
            status          = #{status.code,jdbcType=TINYINT}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="getWithdrawWhitelistByUserIdAndCurrency" resultType="com.seeds.account.model.WithdrawWhitelist">
        select *
        from  ac_withdraw_whitelist
        where user_id = #{userId,jdbcType=BIGINT}
        and   currency = #{currency,jdbcType=VARCHAR}
        order by id
    </select>

    <insert id="insert" parameterType="com.seeds.account.model.WithdrawWhitelist" useGeneratedKeys="true" keyProperty="id">
        insert into ac_withdraw_whitelist (id, create_time, update_time,
                                          version, user_id,
                                          currency, max_amount, intraday_amount, auto_amount,
                                          comments, status)
        values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT},
                #{version,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT},
                #{currency,jdbcType=VARCHAR}, #{maxAmount,jdbcType=DECIMAL}, #{intradayAmount,jdbcType=DECIMAL}, #{autoAmount,jdbcType=DECIMAL},
                #{comments,jdbcType=VARCHAR}, #{status.code,jdbcType=TINYINT})
    </insert>
</mapper>
