<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seeds.game.mapper.NftMarketOrderMapper">
    <select id="getSkinPage" resultType="com.seeds.game.dto.response.NftMarketPlaceSkinResp"
            parameterType="com.seeds.game.dto.request.NftMarketPlaceSkinPageReq">
        select
        t1.id,
        t1.price,
        t1.place_time,
        t1.token_id,
        t1.auction_id,
        t2.name,
        t2.image,
        t3.rarity,
        t3.victory,
        t3.lose,
        t3.max_streak,
        t3.capture,
        t3.killing_spree,
        t3.goblin_kill,
        t3.slaying,
        t3.goblin

        from z_market_order t1
        left join ga_nft_public_backpack t2 on CONVERT(t1.token_id USING gbk) = t2.token_id and CONVERT(t1.mint_address USING gbk) = t2.token_address
        left join ga_nft_attribute t3 on t2.token_id = t3.token_id and t2.token_address  = t3.mint_address
        where t2.type = 3
        <if test="name != null">
            and t2.name = #{name}
        </if>
        <if test="tokenId != null">
            and t1.token_id = #{tokenId}
        </if>
        <if test="status != null">
            and t1.transaction_type  = #{status}
        </if>
        <if test="rarity != null">
            and t3.rarity = #{rarity}
        </if>
        <if test="heroType != null">
            and t3.hero_type = #{heroType}
        </if>
        <if test="sort != null and sort =='price'">
            order by t1.price ${sortType}
        </if>
        <if test="sort != null and sort =='rarity'">
            order by t3.rarity ${sortType}
        </if>
        <if test="sort != null and sort =='durability'">
            order by t3.durability ${sortType}
        </if>
        <if test="sort != null and sort =='create_time'">
            order by t1.create_time ${sortType}
        </if>
        <if test="minPrice > 0">
            and t1.price &gt;= #{minPrice,jdbcType=BigDecimal}
        </if>
        <if test="maxPrice > 0">
            and t1.price &lt;= #{maxPrice,jdbcType=BigDecimal}
        </if>
    </select>
    <select id="getEquipPage" resultType="com.seeds.game.dto.response.NftMarketPlaceEqiupmentResp"
            parameterType="com.seeds.game.dto.request.NftMarketPlaceEquipPageReq">
        select
        t1.id,
        t1.place_time,
        t1.price,
        t1.token_id,
        t1.auction_id,
        t2.name,
        t2.image,
        t3.durability,
        t3.grade,
        t3.health,
        t3.armor,
        t3.vs_monster,
        t3.passive,
        t3.blade_buff
        from z_market_order t1
        left join ga_nft_public_backpack t2 on CONVERT(t1.token_id USING gbk) = t2.token_id and CONVERT(t1.mint_address USING gbk) = t2.token_address
        left join ga_nft_attribute t3 on t2.token_id  = t3.token_id and t2.token_address = t3.mint_address
        where t2.type = 1

        <if test="name != null">
            and t2.name = #{name}
        </if>
        <if test="tokenId != null">
            and t1.token_id = #{tokenId}
        </if>
        <if test="status != null">
            and t1.transaction_type = #{status}
        </if>
        <if test="grade != null">
            and t3.grade = #{grade}
        </if>
        <if test="durability != null">
            and t3.durability = #{durability}
        </if>
        <if test="sort != null and sort =='price'">
            order by t1.price ${sortType}
        </if>
        <if test="sort != null and sort =='grade'">
            order by t3.grade ${sortType}
        </if>
        <if test="sort != null and sort =='durability'">
            order by t3.durability ${sortType}
        </if>
        <if test="sort != null and sort =='create_time'">
            order by t1.create_time ${sortType}
        </if>
        <if test="minPrice > 0">
            and t1.price &gt;= #{minPrice,jdbcType=BigDecimal}
        </if>
        <if test="maxPrice > 0">
            and t1.price &lt;= #{maxPrice,jdbcType=BigDecimal}
        </if>
    </select>
    <select id="getPropsPage" resultType="com.seeds.game.dto.response.NftMarketPlacePropsResp"
            parameterType="com.seeds.game.dto.request.NftMarketPlacePropsPageReq">
        select
        t1.id,
        t1.price,
        t1.place_time,
        t1.token_id,
        t1.auction_id,
        t2.name,
        t2.image,
        t3.grade,
        t3.durability,
        t3.health,
        t3.armor,
        t3.vs_monster,
        t3.passive,
        t3.blade_buff

        from z_market_order t1
        left join ga_nft_public_backpack t2 on CONVERT(t1.token_id USING gbk) = t2.token_id and CONVERT(t1.mint_address USING gbk) = t2.token_address
        left join ga_nft_attribute t3 on t2.token_id  = t3.token_id and t2.token_address  = t3.mint_address
        where t2.type = 2

        <if test="name != null">
            and t2.name = #{name}
        </if>
        <if test="tokenId != null">
            and t1.token_id = #{tokenId}
        </if>
        <if test="status != null">
            and t1.transaction_type = #{status}
        </if>
        <if test="grade != null">
            and t3.grade = #{grade}
        </if>
        <if test="durability != null">
            and t3.durability = #{durability}
        </if>
        <if test="sort != null and sort =='price'">
            order by t1.price ${sortType}
        </if>
        <if test="sort != null and sort =='grade'">
            order by t3.grade ${sortType}
        </if>
        <if test="sort != null and sort =='durability'">
            order by t3.durability ${sortType}
        </if>
        <if test="sort != null and sort =='create_time'">
            order by t1.create_time ${sortType}
        </if>
        <if test="minPrice > 0">
            and t1.price &gt;= #{minPrice,jdbcType=BigDecimal}
        </if>
        <if test="maxPrice > 0">
            and t1.price &lt;= #{maxPrice,jdbcType=BigDecimal}
        </if>
    </select>
</mapper>